.profile-detail-panti{
    width: 1200px;
    height: 2368px;
    background: #FDFDFD;
    margin:8px  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-awal-panti{
    margin:2em 0;
    width: 999px;
    height: 494px;
    display:flex;
    flex-direction: column;

}

.data-awal-panti > h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #18181B;
}

.data-lokasi-panti{
    width:100%;
    height: 350px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.alamat-profile-panti{
    width: 222px;
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
}

.word-alamat-panti{
    display:flex;
    align-items: center;
    gap:10px;
}

.word-alamat-panti > .icon-tabler{
    color:#3AB7FE;  
    width: 24px;
    height:24px;
}

.word-alamat-panti > p{
    width: 190px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #18181B;
}

.alamat-profile-panti > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #18181B;
}

.data-gambar-panti{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    width: 719px;
    height: 100%;
}

.data-awal-panti > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #71717A;
}

.program-kami{
    width: 999px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.program-kami > h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.program-kami-swiper{
    width: 800px;
    display: flex;
    align-items: center;
    gap:10px;
    margin:0 auto;
}

.program-kami-artikel{
    width:100%;
    margin:20px 0;
}

.the-swiper-program{
    width: 48px;
    height: 48px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2), inset 8.33333px -8.33333px 8.33333px rgba(165, 165, 165, 0.1), inset -8.33333px 8.33333px 8.33333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer
}

.the-swiper-program > .icon-tabler{
    width: 32px;
    height: 32px;
    color:#3AB7FE;
}

.program-kami-artikel > h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #18181B;
}

.program-kami-artikel > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #71717A;
    padding-bottom: 25px;
}

.data-gambar-panti > img{
    width: 591px;
    height: 100%;
}

.section-dokumentasi{
    width: 999px;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.section-dokumentasi > h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.artikel-dokumentasi{
    display:flex;
    justify-content: space-between;
    height: 246px;
    align-items: center;
}

.artikel-dokumentasi > p{
    width: 585px;
    height: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #71717A;
}