.container-donasi-panti{
    width: 1280px;
    height: 360px;
    display:flex;
    background: #FDFDFD;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin:24px auto;
}

.profile-pantiku{ 
    width: 596px;
    height: 267px;
    background: linear-gradient(126.34deg, #0061E0 0.98%, #001F47 100%);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}