.container {
   display: flex;
   height: 100vh;
   overflow: hidden;
}

.container-left {
   position: absolute;
   left: 0;
   right: 0;
   margin-left: 280px;
}

.content-detail-profile {
   display: flex;
   gap: 32px;
   margin: 32px 32px 0 32px;
}

.brief-profile-orphanage {
   height: 100%;
   background: #FDFDFD;
   box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-brief-profile {
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin: 24px 32px;
}

.wrapper-input-poto {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   gap: 8px;
   font-family: 'Rubik';
   font-weight: 600;
   font-size: 16px;
}

.action-button-brief-profile {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 32px;
   margin-bottom: 24px;
}

.about-orphanage {
   width: 100%;
   height: 100%;
   background: #FDFDFD;
   box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
}

.form-about-orphanage label {
   font-family: 'Rubik';
   font-weight: 600;
   font-size: 16px;
}

.form-about-orphanage {
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin: 24px 32px;
}

.desctiption-orphanage, .program-orphanage, .documentation-orphanage {
   display: flex;
   flex-direction: column;
   gap: 16px;
   position: relative;
}

.action-content {
   position: absolute;
   display: flex;
   gap: 8px;
   right: 0px;
   top: -7px;
}

.input-content-program, .action-per-content {
   display: flex;
   gap: 8px;
   flex-direction: column;
}

.input-content-documentation {
   display: flex;
   gap: 16px;
   height: 100%;
   justify-content: space-between;
}

.input-content-documentation .wrapper-caption .input-description textarea {
   resize: none;
   height: 100%;
}

.input-content-documentation .wrapper-caption .input-description {
   height: 100%;
}

.wrapper-caption {
   flex-grow: 1;
}

.action-per-content {
   display: flex;
   gap: 16px;
   flex-direction: column;
}