.page-tentang-kami-section{
    display:flex;
    align-items:center;
    gap:20px;
    margin:20px auto;
}

.page-tentang-kami-right{
    width: 466px;
    height: 185px;
}

.page-tentang-kami-right > h2{
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: #FAFAFA;
}

.page-tentang-kami-right > p{
    color: #FAFAFA;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.tentang-kami-section-layanan-kami{
    display:flex;
    flex-direction: column;
    margin:10vw 0;
    align-items: center;
}

.tentang-kami-section-layanan-kami > h2{
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 80px;
    color: #18181B;
}

.list-layanan-kami-sediakan{
    width: 968px;
    display:flex;
    flex-direction: column;
    gap:80px;
}

.article-layanan-kami{
    width:100%;
    height: 279px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.word-layanan-kami{
    width: 343px;
    height: 194px;
}

.word-layanan-kami > h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #18181B;
    margin-bottom: 10px;
}

.word-layanan-kami > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #71717A;
}