.background-donasi{
    position:fixed;
    background: rgba(24, 24, 27, 0.5);
    width:100%;
    height:100%;
    z-index: 50;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.donasi-form{
    width: 1054px;
    height: 576px;
    background: #FDFDFD;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: pop-up .3s ease-in-out;
}

@keyframes pop-up{
    0%{
        opacity:0
    }
    100%{
      
        opacity:1;
    }
}

.donasi-title-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 45px;
    align-items: center;
}

.donasi-title{
    text-align: center;
    flex:50%;
}

.donasi-title-container >.form-donasi-cancel{
    position: absolute;
    top:13%;
    left:82.5%;
}

.donasi-title-container > .form-donasi-back{
    position: absolute;
    top:13%;
    left:15.5%;
}

.donasi-title-container > .form-donasi-back:hover{
    color:#3AB7FE;
    cursor:pointer;
    transition: .3s ease-in-out;
}

.donasi-title-container > .form-donasi-cancel:hover{
    color:red;
    cursor:pointer;
    transition: .3s ease-in-out;
}


.donasi-title > h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #18181B;
}

.donasi-title > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #71717A;
}

.form-pengisian-donasi{
    width: 875px;
    height: 406px;
    display:flex;
    justify-content: space-between;
}

.form-pengisian-kiri{
    display:flex;
    flex-direction: column;
    width: 400px;
    gap:10px;
}


.donatur-radio-button{
    width: 327px;
    height: 59px;
    display:flex;
    gap:13px;
    flex-direction: column;

}

.donatur-radio-button > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.container-pilihan-donatur{
    display:flex;
    gap:20px;
}

.pilihan-donatur{
    max-width: 111px;
    height: 24px;
    display:flex;
    gap:5px;
    justify-content: space-evenly;
    align-items: center;
}

.pilihan-donatur > input[type="radio"] {
    width: 18px;
    height: 18px;
    accent-color: #2e83f2;
}

.donatur-upload-gambar{
    width: 373px;
    height: 64px;
    display: flex;
    gap:10px;
    align-items: center;
}

.donatur-gambar-default{
    width: 64px;
    height: 64px;
    background: #CBD5E1;
    border-radius: 30px;
    color:#3AB7FE;
    display:flex;
    justify-content: center;
    align-items: center;
}

.donatur-gambar-default > .icon-tabler{
    width: 48px;
    height: 48px;
}


.right-side-donatur-upload{
    width: 293px;
    height: 54px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.upload-button-container{
    width: 293px;
    height: 32px;
    display:flex;
    gap:5px;
    align-items: center;
}

.upload-button{
    width: 150px;
    height: 32px;
    background: #3AB7FE;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    cursor: pointer;
}

.upload-button:hover{
    opacity:0.8;

}

.upload-button > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
}

.upload-button-container > p{
    width: 145px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A1A1AA;
}

.upload-button > input{
        display: inline-block;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

.upload-button > .icon-tabler{
    color:white;
}

.right-side-donatur-upload > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #18181B;
}

.input-form-donasi{
    width: 400px;
    height: 76px;
    display: flex;
    flex-direction: column;
}

.input-form-donasi > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.sembunyikan-identitas{
    width: 243px;
    height: 66px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.checkbox-sembunyikan{
    display:flex;
    align-items: center;
    gap:5px;
}

.checkbox-sembunyikan > input{
    width: 24px;
    height: 24px;
}

.checkbox-sembunyikan > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.sembunyikan-identitas > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A1A1AA;
}

.form-pengisian-kanan{
    width: 435px;
    height: 406px;
    display:flex;
    flex-direction: column;
    gap:24px;
}

.top-profile-panti-form{
    width: 435px;
    height: 224px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #F2F3F6;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.top-profile-panti-form > h6{
    align-self: flex-start;
    margin-left: 20px   ;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #004BAE;
}

.detail-profile-panti-form{
    width: 370px;
    height: 158px;
    display: flex;
    flex-direction: column;
    gap:6px;
}

.detail-profile-panti-form > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.detail-profile-panti-form > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #18181B;
}

.form-profile-alamat > .icon-tabler{
    color: #3AB7FE;
}

.form-profile-alamat{
    display:flex;
    align-items: center;
    gap:7px;
}

.form-profile-alamat > p{
    width: 338px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #18181B;
}

.bottom-tulis-komentar{
    width: 435px;
    height: 158px;
    display:flex;
    flex-direction: column;
    gap:3px;
}

.bottom-tulis-komentar > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.bottom-tulis-komentar > textarea{
    padding: 10px;
    width: 435px;
    height: 131px;
    outline: none;
    resize: none;
}

.second-container-input-jumlah{
    width: 833px;
    height: 337px;
    display:flex;
  justify-content: space-between;
}

.isi-nominal-container{
    width: 429px;
    height: 337px;
    display:flex;
    flex-direction: column;
    gap:16.5px;
}

.judul-isi-nominal{
    height: 63px;
}

.judul-isi-nominal > h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #18181B;
}

.judul-isi-nominal > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #71717A;
}

.option-nominal-donasi{
    display:grid;
    grid-template-columns: 50% 50%;
    height: 176px;
    gap:12px;
}


.option-nominal-donasi > button{
    width: 200px;
    height: 48px;
    border: 1px solid #004BAE;
    border-radius: 5px;
    background: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #18181B;
}

.option-nominal-donasi > button:focus{
    border: 3px solid #3AB7FE;
}

.masukan-jumlah-inginkan{
    height: 74px;
    display:flex;
    flex-direction: column;

}

.masukan-jumlah-inginkan > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #71717A;
}

.right-side-input-jumlah{
    width: 364px;
    height: 301px;
    display: flex;
    gap:22px;
    flex-direction: column;
}

.kontak-nomor-email{
    width: 319px;
    height: 103px;
    background: #F2F3F6;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:7px;
}

.kontak-nomor-email > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #004BAE;
}

.icon-and-data{
    display:flex;
    align-items: center ;
    gap:7px;
}

.icon-and-data > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #18181B;
}

.icon-and-data > .icon-tabler{
    color:#3AB7FE;
}

.metode-pembayaran{
    height: 75px;
}

.selection-pembayaran{
    display:flex;
    height: 48px;
    gap:10px;
}

.selection-pembayaran > .icon-tabler{
    width: 48px;
    height: 48px;
    color:#3AB7FE;    
}

.metode-pembayaran > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.selection-pembayaran > select{
    width: 300px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #004BAE;
    border-radius: 5px;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../public/assets/chevron-up.svg) 96% / 15% no-repeat #FDFDFD;
}


.form-donasi-ketiga{
    width: 625px;
    height: 395px;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.form-donasi-ketiga > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B; 
}

.form-donasi-ketiga > h6 > span{
    color: #004BAE;
}

.id-dan-nominal{
    display:flex;
    height: 75px;
    gap:20px;
}

.id-pembayaran-container{
    display:flex;
    flex-direction: column;
    width: 300px;
}

.id-pembayaran-container > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.data-pembayaran-id{
    width: 300px;
    height: 48px;
    border: 1px solid #004BAE;
    display:flex;
    align-items: center;
    gap:10px;
    padding:0 10px;
    border-radius: 5px;
}

.data-pembayaran-id > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.data-pembayaran-id > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #3AB7FE;
    margin-left: auto;
}

.center-form-donasi-ketiga{
    height: 116px;
    display:flex;
    gap:16px;
    flex-direction: column;
}

.container-pembayaran-ke{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container-pembayaran-ke > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.data-pembayaran-ke{
    width:278px;
    height: 46px;
    display:flex;
    gap:5px;
    flex-direction: column;
}

.data-pembayaran-ke > p{
    margin-left:auto;
    font-weight: 500;
    font-size: 16px;
    color: #18181B;
}

.data-pembayaran-ke > p > span{
    font-weight: 400;
    font-size: 16px;
    color: #18181B;
}

.no-invoice{
    height: 19px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.no-invoice > h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
}

.no-invoice > p{
    font-weight: 400;
    font-size: 16px;
    color: #71717A;
}

.wrapper-status-pembayaran{
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-status-pembayaran > p{
    font-weight: 500;
    font-size: 16px;
    color: #18181B;
}

.center-form-donasi-ketiga > p{
    height: 57px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #71717A;
}

.center-form-donasi-ketiga > button{
    width: 150px;
    height: 32px;
    display:flex;
    align-items:center;
    border:#3AB7FE 2px solid;
    color:#FDFDFD;
    background-color: #3AB7FE;
    justify-content: center;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.center-form-donasi-ketiga > button:hover{
    cursor: pointer;
    opacity:0.9;
}

