.navbar{
    display:flex;
    height:72px;
    align-items: center;
    justify-content: space-between;
}

.navbar.fixed{
    width:1296px;
    z-index:10;
    position:fixed;
    background-color: #004BAE;
    animation: top-to-bottom .3s ease-in-out;
}

.navbar.fixed.bottom{
    background: #FDFDFD;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    transition: .2s ease-in-out;
}

@keyframes top-to-bottom{
    0%{
        transform: translateY(-100%);
    }
    100%{
      
        transform: translateY(0%);
    }
}

.left-navbar{
    display:flex;
    width:23%;
    align-content: center;
}

.left-navbar > img{
    margin:0 12%;
}

.mid-navbar{
    display:flex;
    align-items: flex-start;
    margin-right: auto;
    width:50%;
    height: 21px;
    gap:40px;
    justify-content: space-evenly;
}

.right-navbar{
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:17%;
    height:100%;
}

.right-navbar > a{
    color:#FAFAFA;
     font-weight: 600;
    font-size: 18px;
    text-decoration:none;
}

.right-navbar >a:hover{
    color: #71717A;
    transition: .3s ease-in-out;
}

.mid-navbar > a{
    color: #A1A1AA;
    font-weight: 600;
    font-size: 18px;
    display:flex;
    align-items: center;
    text-decoration:none;
}


.mid-navbar > a.active{
    color: #FAFAFA;
    transition: .3s ease-in-out;
}

.mid-navbar > a:hover{
    color: #FAFAFA;
    transition: .3s ease-in-out;
}

.tombol-daftar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0185D0;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 88px;
    height: 48px;
    gap: 10px;
}

.rectangle-word-bottom{
    position: absolute;
    width: 191px;
    height: 152px;
    left: 615px;
    top: 385px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15), inset 8.33333px -8.33333px 8.33333px rgba(165, 165, 165, 0.1), inset -8.33333px 8.33333px 8.33333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.rectangle-word-bottom > h3{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FAFAFA;
    margin:0;}