.navbars-container{
    width:100%;
    background: #FDFDFD;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.navbars{
    display:flex;
    width:1296px;
    height:72px;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}

