<<<<<<< HEAD
.contact-form-page{
    width: 90%;
    height: 437px;
    margin:5em auto;;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contact-form-left-title-page{
    display:flex;
    flex-direction: column;
}

.contact-form-left-title-page > h2{
    font-weight: 600;
    font-size: 38px;
    line-height: 42px;
    color: #18181B;
    margin:0;
}

.contact-form-left-title-page > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #71717A;
}

.contact-form-kontak-page{
    display:flex;
    flex-direction:column;
}

.contact-form-kontak-page > h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #18181B;
    margin:0;
}

.contact-form-kontak-page > .form-kontak-icon-page{
    display:flex;
    align-items: center;
    gap:10px;
}

.form-kontak-icon-page > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
    margin:5px 0;
}

.form-kontak-sosialmedia-page > h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #18181B;
    margin:20px 0 5px 0;
}

.form-kontak-sosialmedia-page > .contact-icon-img{
    display:flex;
    justify-content: space-between;
    width: 138px;
    height: 24px;
}   

.contact-form-right-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 470px;
    height: 333px;
    background: linear-gradient(126.34deg, #0061E0 0.98%, #001F47 100%);
    border-radius: 5px;
    filter: drop-shadow(5px 7px 20px rgba(0, 0, 0, 0.2));
}

.contact-form-right-page > h3{
    font-weight: 600;
    font-size: 30px;
    color: #FAFAFA;
}


.contact-form-right-page > button{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 400px;
    height: 48px;
    background: #0185D0;background: #0185D0;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    border:none;
    color: #FAFAFA;
=======
.contact-form-page{
    width: 90%;
    height: 437px;
    margin:5em auto;;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contact-form-left-title-page{
    display:flex;
    flex-direction: column;
}

.contact-form-left-title-page > h2{
    font-weight: 600;
    font-size: 38px;
    line-height: 42px;
    color: #18181B;
    margin:0;
}

.contact-form-left-title-page > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #71717A;
}

.contact-form-kontak-page{
    display:flex;
    flex-direction:column;
}

.contact-form-kontak-page > h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #18181B;
    margin:0;
}

.contact-form-kontak-page > .form-kontak-icon-page{
    display:flex;
    align-items: center;
    gap:10px;
}

.form-kontak-icon-page > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #18181B;
    margin:5px 0;
}

.form-kontak-sosialmedia-page > h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #18181B;
    margin:20px 0 5px 0;
}

.form-kontak-sosialmedia-page > .contact-icon-img{
    display:flex;
    justify-content: space-between;
    width: 138px;
    height: 24px;
}   

.contact-form-right-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 470px;
    height: 333px;
    background: linear-gradient(126.34deg, #0061E0 0.98%, #001F47 100%);
    border-radius: 5px;
    filter: drop-shadow(5px 7px 20px rgba(0, 0, 0, 0.2));
}

.contact-form-right-page > h3{
    font-weight: 600;
    font-size: 30px;
    color: #FAFAFA;
}


.contact-form-right-page > button{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 400px;
    height: 48px;
    background: #0185D0;background: #0185D0;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    border:none;
    color: #FAFAFA;
>>>>>>> 30530e35d63e49ddcad3b4c111bf63a1bffe379c
}